.formItem {
    &Lock {
        margin: 0 4px;
        color: transparent;

        span {
            display: flex;
            align-items: center;
        }

        svg {
            fill: var(--black-4)
        }
    }


}


.block {
}

:global {
    .ant-form-item {
        &.ant-form-item-has-error {
            input, textarea,
            .ant-select-selector
            {
                background: #ffffff;
                border-width: 1px;
                border-style: solid;
                border-color: #ff4d4f;
            }
        }
    }

}