

.companies {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;

    button {
        border-color: #6d6c6c;
    }

}

@media (max-width: 1024px) {
    .companies {

    }
}

@media (max-width: 767px) {
    .companies {

    }
}
