.list {

  &Control {
    display: flex;
    margin-bottom: 16px;
    cursor: pointer;
    line-height: 1;
  }

  &Icon {
    display: flex;
    width: 20px;
    min-width: 20px;
    margin-right: 8px;
    padding-top: 6px;
    @media (max-width: 576px) {
      width: 16px;
      min-width: 16px;
      margin-right: 4px;
      padding-top: 3px;
    }

    svg {
      width: 12px;
      height: 8px;
      stroke: #9F9F9F;
    }

    &Rotate {
      svg {
        transform: rotate(180deg);
      }
    }

    &Hide {
      opacity: 0;
      visibility: hidden;
    }
  }

  &Title {
    display: flex;
    font-size: 14px;
    line-height: 1.4;
    @media (max-width: 576px) {
      font-size: 12px;
    }
  }

  &Label {
    display: flex;
  }

  &Checkbox {
    input[type="checkbox"] {
      display: none;

      &:checked {
        & + .listCheckboxSquare {
          background-color: #9d87f1;

          &:after {
            opacity: 1;
          }
        }
      }
    }

    &Square {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 16px;
      height: 16px;
      margin-right: 12px;
      margin-top: 1px;
      border: 1px solid #9F9F9F;
      box-sizing: border-box;
      border-radius: 3px;
      overflow: hidden;

      svg {
        width: 10px;
        height: 10px;
      }

      @media (max-width: 576px) {
        width: 20px;
        min-width: 20px;
        height: 20px;
        margin-right: 8px;
        margin-top: -2px;
      }
    }
  }

  &Inner {
    display: none;
    padding-left: 30px;
    @media (max-width: 576px) {
      padding-left: 20px;
    }

    &Opened {
      display: block;
    }
  }
}